<h2><%= @cocktail.name %></h2>

<ul>
<% @cocktail.doses.each do |dose| %>
  <li>
    <%= dose.description %> - <%= dose.ingredient.name %> - <%= link_to '(delete)', cocktail_dose_path(@cocktail, dose), method: :delete %>
  </li>
<% end %>
</ul>
<p>
  <%= link_to "Ajouter une dose", new_cocktail_dose_path(@cocktail) %>
</p>
